
<div class="header-div">
  <h1>All Posts</h1>
  <div id="big-option-div">
    <span class="big-option"><%= link_to '+', new_article_path %></span>
  </div>
</div>




<table class="container-table">
  <table class="article-display-table">
    <% @articles.each do |article| %>
      <tr>
        <td>
          <!-- EACH ARTICLE -->
          <center>
            <table class="individual-article">
             <tr>
              <td class="article-title">
                <%= article.title %>
              </td>
             </tr>
             <tr>
              <td class="article-text">
               <%= article.text %>
              </td>
             </tr>
             <tr>
              <td class="article-options">
               <center>
                <span class="option"><%= link_to 'Show', article_path(article) %></span>
                <span class="option"><%= link_to 'Edit', article_path(article) %></span>
                <span class="option"><%= link_to 'Destroy', article_path(article),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %></span>
                </center>
               </td>
             <center><div class="horizontal-line"></div><center>
            </tr>
           </table>
          </center>
         </td>
        <% end %>
      </table>
    </table>
